body{
    background-image: linear-gradient(to bottom right, #ccffe1,white);
    height:663px;
}

.login-container{
    width:400px;
    margin:0 auto;
    border:1px solid black;
    position:relative;
    top:100px;
    border-radius:5px;
    padding:30px;
    background-color: white;
    box-shadow:4px 4px 4px -1px;
}


.welcoming-msg{

}


.login-container a{
    text-transform: none;
    margin-left:10px;
}

.main-container{
    display:flex;
    width:700px;
    margin: 0 auto;
}

.side-bar{
    border:1px solid black;
    width:200px;
    height:600px;
}

.main-content{
    width:100%;
    position:relative;
}

#user-takein{
    border:none;
    margin-bottom:10px;
}

.card-slot{
    min-width:400px;
    max-width:700px;
    margin: 0px auto;
    padding-bottom:30px;
    background-color: white;
}

.group-card{
    min-height:100px;
    height:auto;
    padding:20px;
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    width:600px;
    margin: 0px auto;
    margin-bottom:20px;
    box-shadow: 5px 5px 7px 0px;
    position:relative;


}

.group-card-img{

    width:10%;
}

.group-card-img img{
    width:100%;
    height:50px;
    border-radius:50%;
}

.group-card-main{


    width:50%;
}

.group-card-main .group-name{
    font-size:26px;
    font-weight:bold;
    margin-bottom:0;
}

.group-name a{
    color:black;
}

.group-name a:hover{
    text-decoration: none;
    color:#28a745;
}

.group-card-amount{

    width:30%;
    text-align:right;

    font-size:15px;
}

.group-card-amount-only{
    display:block;
    font-size:30px;
}

.member-list{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    font-size:12px;
    height:auto;
    margin-top:5px;
}

.member-list p{
    margin-bottom:2px;
}


.add-sign{
    border:1px solid black;
    font-size:20px;
    width:30px;
    height:30px;
    text-align:center;
    border-radius:50%;
    position:absolute;
    right:0;
    top:0;
}

.add-sign a:hover{
    text-decoration: none !important;

}

.split-amount-by-user-container{
    font-size:10px;

}

.split-amount-by-user-container .split-user-name{
    display:inline-block;
    width:100px;
}

.split-amount-by-user-container input{
    border:none;
}

.bill-card{
    height:125px;

    position:relative;
    width:600px;
    margin:0 auto;
    box-shadow: 1px 1px 1px 1px;
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
    margin-top:10px;

}

.time-of-bill{
    position:absolute;
    right:30px;
    bottom:-5px;
    color:grey;
    font-size:15px;

}


.bill-card-img{
    width:17%;

    position:relative;

}

.bill-card-img img{
    width:50px;
    background-color: white;
    border-radius:50%;
    border:4px solid white;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}


.bill-card-details{
    width:40%;
    padding:20px;
}

.bill-card-amount{
    width:40%;
    display:flex;
    align-items: center;

}

.bill-card-description{
    font-weight:bold;
    font-size:27px;
}

.bill-card-description a{
    color:black;
}

.bill-card-description a:hover{
    color:blue;
    text-decoration: none;
}



.payer{
    color:grey;
}

.amount-to-pay{
    text-align:right;
    width:100%;
    margin-right:30px;

}

.amount-to-pay span{
    display:block;
    font-size:25px;
}

.total-card{
    display:flex;
    min-height:100px;
    height:100px;
    padding:10px;
    display:flex;
    width:700px;
    margin: 0px auto;
    margin-bottom:20px;
    position:relative;
    background-color: #e5e5e5;
    padding-left:200px;
}

.total-card-img img{
    width:70px;
    border-radius:50%;
    height:70px;
    border:5px solid blue;

}

.total-card-img{
    width:15%;
}

.total-card-word{
    font-weight:bold;
    font-size:30px;
    margin-bottom:0;

}

.total-card-details{
    padding-left:40px;
}

.total-card-details p{
    font-weight:bold;
}

.group-head{

    width:100%;
    height:auto;
    position:relative;
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    padding-top:10px;
    padding-bottom:10px;
}

.group-head-img{

}
.group-head-img img{
    width:70px;
    display:block;
    margin:0 auto;

}

.group-head-name{
    text-align:center;
    font-weight:bold;
    font-size:30px;
    color:white;

}

.group-head-amount{
    text-align:center;
    font-weight:bold;
    font-size:20px;
}

.settle-up-button{
    border:1px solid black;
    padding:10px;
    display:block;
    margin:0 auto;
    width:100px;
    text-align:center;
    background-color: #ff8205;
    border-radius:10px;
    font-weight:bold;
    color:white;

}

.settle-up-button:hover{
text-decoration: none;

}







