.login-container{
    width:400px;
    margin:20px auto;
    border:1px solid black;
    border-radius:5px;
    padding:30px;
}

.login-container a{
    text-transform: none;
    margin-left:10px;
}

.main-container{
    display:flex;
}

.side-bar{
    border:1px solid black;
    width:200px;
    height:600px;

}

.main-content{
    width:100%;
    position:relative;
}

#user-takein{
    border:none;
    margin-bottom:10px;
}

.card-slot{
    min-width:400px;
    max-width:700px;
    border:1px solid black;
    margin: 0 auto;
}

.group-card{
    height:150px;
    padding:30px;
    border:1px solid black;

}

.add-sign{
    border:1px solid black;
    font-size:20px;
    width:30px;
    height:30px;
    text-align:center;
    border-radius:50%;
    position:absolute;
    right:0;
    top:0;

}

.add-sign a:hover{
    text-decoration: none !important;

}

.split-amount-by-user-container{
    font-size:10px;

}

.split-amount-by-user-container .split-user-name{
    display:inline-block;
    width:100px;
}

.split-amount-by-user-container input{
    border:none;
}

.bill-card{
    height:150px;
    padding:30px;
    border:1px solid black;
    position:relative;
}

.bill-card .time-of-bill{
    position:absolute;
    right:0;
    top:0;
}

.bill-card .amount-to-pay{
    position:absolute;
    right:100px;
    top:50px;
}

