body{
    height:663px;
}

.login-container{
    width:400px;
    margin:0 auto;
    border:1px solid black;
    position:relative;
    top:50px;
    border-radius:5px;
    padding:30px;
    background-color: white;
    box-shadow:4px 4px 4px -1px;
}

.login-container a{
    text-transform: none;
    margin-left:10px;
}

.main-container{
    display:flex;
    width:700px;
    margin: 0 auto;
}

.side-bar{
    border:1px solid black;
    width:200px;
    height:600px;
}

.main-content{
    width:100%;
    position:relative;
}

#user-takein{
    border:none;
    margin-bottom:10px;
    width:100%;
}

.card-slot{
    min-width:400px;
    max-width:700px;
    margin: 0px auto;
    padding-bottom:30px;
    background-color: white;
}

.group-card{
    min-height:100px;
    height:auto;
    padding:20px;
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    width:600px;
    margin: 0px auto;
    margin-bottom:10px;
    box-shadow: 5px 5px 7px 0px;
    position:relative;


}

.group-card-img{

    width:10%;
}

.group-card-img img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.group-card-main{


    width:50%;
}

.group-card-main .group-name{
    font-size:26px;
    font-weight:bold;
    margin-bottom:0;
}

.group-name a{
    color:black;
}

.group-name a:hover{
    text-decoration: none;
    color:#28a745;
}

.group-card-amount{

    width:30%;
    text-align:right;

    font-size:15px;
}

.group-card-amount-only{
    display:block;
    font-size:30px;
}

.member-list{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    font-size:12px;
    height:auto;
    margin-top:5px;
}

.member-list p{
    margin-bottom:2px;
}


.add-sign{
    border:1px solid black;
    font-size:20px;
    width:30px;
    height:30px;
    text-align:center;
    border-radius:50%;
    position:absolute;
    right:0;
    top:0;
}

.add-sign a:hover{
    text-decoration: none !important;

}

.split-amount-by-user-container{
    font-size:10px;

}

.split-amount-by-user-container .split-user-name{
    display:inline-block;
    width:100px;
    margin-left:10px;
    font-size:15px;
}

.split-amount-by-user-container input{
    border:none;
    font-size:15px;

}

.bill-card{
    height:125px;

    position:relative;
    width:600px;
    margin:0 auto;
    box-shadow: 1px 1px 1px 1px;
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
    margin-top:10px;

}

.time-of-bill{
    position:absolute;
    right:30px;
    bottom:-5px;
    color:grey;
    font-size:15px;

}


.bill-card-img{
    width:17%;

    position:relative;

}

.bill-card-img img{
    width:50px;
    background-color: white;
    border-radius:50%;
    border:4px solid white;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}


.bill-card-details{
    width:60%;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.bill-card-amount{
    width:30%;
    display:flex;
    align-items: center;

}

.bill-card-description{
    font-weight:bold;
    font-size:23px;
    margin-bottom:0;

}

.bill-card-description a{
    color:black;

}

.bill-card-description a:hover{
    color:blue;
    text-decoration: none;
}



.payer{
    color:grey;
    margin-bottom:0px;
}

.amount-to-pay{
    text-align:right;
    width:100%;
    margin-right:30px;

}

.amount-to-pay span{
    display:block;
    font-size:25px;
}

.total-card{
    display:flex;
    min-height:100px;
    height:100px;
    padding:10px;
    width:600px;
    margin: 0px auto;
    margin-bottom:20px;
    position:relative;
    background-color: #f7f7f7;
    justify-content: center;
    border-radius:10px;
    border:1px solid #55cc9d;
    align-items: center;
}

.total-card-img img{
    width:70px;
    border-radius:50%;
    height:70px;
    border:5px solid #55cc9d;

}

.total-card-img{
    width:20%;

}

.total-card-word{
    font-weight:bold;
    font-size:30px;
    margin-bottom:0;

}

.total-card-details{
}

.total-card-details p{
    font-weight:bold;
    margin-bottom:0;
}

.group-head{

    width:600px;
    margin:0 auto;
    height:auto;
    position:relative;
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    padding-top:10px;
    padding-bottom:10px;
    border-radius:10px;
}

.group-head-img{
    width:70px;
    margin:0 auto;
}
.group-head-img img{
    width:70px;
    height:70px;
    display:block;
    margin:0 auto;
    border-radius:50%;

}

.group-head-name{
    text-align:center;
    font-weight:bold;
    font-size:30px;
    color:white;

}

.group-head-amount{
    text-align:center;
    font-weight:bold;
    font-size:20px;
    color:white;
}

.group-head-buttons-container{
    display:flex;
    justify-content: center;
}

.settle-up-button{
    padding:10px;
    margin: 0 30px;

    width:100px;
    text-align:center;
    background-color: #ff8205;
    font-weight:bold;
    color:white;
}

.settle-up-button:hover{
    text-decoration: none;
    color:black;

}

.adjust-login-container{
    top:10px;
}

.create-new-group-button{

    margin:0 auto;
    display:block;
    width:186px;
    margin-bottom:10px;
}


.no-bills-text{
    text-align:center;
}

.bill-head{
    height:auto;

    position:relative;
    width:400px;
    margin:0 auto;
    box-shadow: 1px 1px 1px 1px;
    display:flex;
    flex-direction: column;

    margin-bottom:10px;
    margin-top:10px;

}

.bill-head-head-container{
    display:flex;
}

.bill-head p{
    margin-bottom:0;
    color:white;
    font-weight:bold;
}


.bill-head-img{
    width:17%;
    margin:0 20px;
    position:relative;

}

.bill-head-img img{
    width:50px;
    background-color: white;
    border-radius:50%;
    border:4px solid white;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.bill-head-details{
    width:60%;
    padding:5px;
}

.bill-head-amount{
    width:40%;
    display:flex;
    align-items: center;
    font-size:27px;

}

.bill-head-description{
    font-weight:bold;
    font-size:27px;
}

.bill-head-description a{
    color:black;
}

.bill-head-description a:hover{
    color:blue;
    text-decoration: none;
}

.bill-head-split-container{
    height:auto;
    padding:20px;

}
.bill-head-split-container p{
    color:black;
    font-weight:normal;
    padding-left:10px;


}
.bill-head-splitter-line{
    display:flex;
    align-items: center;
    margin-bottom:10px;
}

.bill-head-splitter-line img{

    width:40px;
    height:40px;
    border-radius:50%;
}

.delete-button{

    margin-left:10px;
}

.settle-bill-heading{
    text-align:center;
}

.settle-bill-container{
    display:flex;
    align-items: center;
    position:relative;
    height:auto;
    width:500px;
    margin:0 auto;
    border:1px solid black;
    padding:20px;
    margin-bottom:10px;
    box-shadow:4px 4px 4px 0px;
    justify-content: space-between;
}

.settle-bill-container p{
    margin:0;
    color:black;
}

.settle-bill-img img{
    width:50px;
    height:50px;
    border-radius:50%;

}

.settle-bill-detail{
    margin-left:20px;
    width:280px;
    padding-left:20px;
}

.settle-bill-detail-name{
    font-size:20px;

}

.settle-bill-detail-net{
    font-size:20px;
}

.settle-bill-selectbutton{
    display:flex;
    flex-direction: column;
    width:100px;
    justify-content: space-between;
}

.settle-bill-selectbutton button{
    height:35px;
    margin-bottom:5px;
}


.settled-sign{
    position:absolute;
    background-color: black;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.4;
}

.settled-word{
    z-index:1;
    width:180px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(20deg);
    font-size:30px;
}

.settled-word a{
    color:yellow;
}

.settled-word a:hover{
    text-decoration: none
}

.single-friend-card{
    display:flex;
    align-items: center;

    height:auto;
    width:500px;
    position:relative;
    border:1px solid black;
    padding:20px;
    background-color: #e5e5e5;


}

.single-friend-card-img img{
    width:80px;
    height:80px;
    border-radius:50%;

}

.single-friend-card-main{
    margin-left:20px;
    color:black;
    font-size:30px;

}
.single-friend-card-main p{
    margin: 0 20px;


}

.single-friend-card-name{
    font-weight:bold;
}

.single-friend-card-amount{
    font-size:15px;
}

.single-friend-container{
    display:flex;
    flex-direction: column;
    box-shadow:4px 4px 4px 0px;
    width:500px;
    margin:0 auto;

}


.single-friend-group-container{
    border:1px solid black;
    width:500px;
    margin:0 auto;
    display:flex;
    padding:10px;

    align-items: center;

}

.single-friend-group-container p{
    margin-bottom:0;

}

.single-friend-group-img img{
    width:60px;
    height:60px;
    border-radius:50%;

}

.single-friend-group-img{
    margin-left:20px;

}

.single-friend-group-name{
    color:black;
    font-size:20px;
    font-weight:bold;
    margin-left:20px;
    width:50%;
    text-align:left;
}

.single-friend-group-amount p{
    text-align:right;
    margin:0;
}

.single-friend-group-amount {
    width:30%;
}

.single-user-button{
    width:22%;
    margin-left:40px;
}

.single-user-modifier a{

}

.single-user-modifier{
    margin:0 auto;
    display:block;
}

.user-banner{
    text-align:center;
    background-color: #e5e5e5;
    font-size:25px;
    margin-bottom:10px;
}

.back-to-main-page-button{

    position:absolute;
    top:10px;
    right:10px;
}


.back-to-main-page-button img{
    width:30px;
    height:30px;
    border-radius: 50%;

}

.edit-delete-button{
    display:flex;
    justify-content: space-between;
}

.group-link{
    color:black;
}

.group-link:hover{
    text-decoration: none;
}


.profile-page-img{
    width:100px;
    height:100px;
    border-radius:50%;
    display:block;
    margin:0 auto;

}

.user-profile-p{
    text-align:center;
}

.profile-pic-form{
    width:500px;
    margin:0 auto;
}

.tab-modifier{
    margin-top:10px;
}

.profile-cards-container{
    display:flex;
    justify-content: space-between;
}

.card-header{
    text-align: center;
}

.card-text{
    text-align:center;
    font-size:26px;
}

.small-note{
    text-align:center;
}

@keyframes testing {
    from {opacity: 0}
    to {opacity: 1}
}

.user-name-button{
    margin-left:5px;
    margin-bottom:5px;
    opacity: 0;
    animation: testing 0.3s linear forwards;
}



.add-user-into-group-container{
    display:flex;
    flex-wrap:wrap;

}

.yes-button-modifier input{
    width:100px;
}

.no-button-modifier {
    width:100px;
}

.activity-card-modifier{
    width:500px;
    margin:0 auto;
    height:auto;
    margin-bottom:5px !important;
    margin-top:5px !important;
}

.activity-card-text-modifier{
    text-align:left;
    font-size:15px;
}

.activity-card-header-modifier{
    height:35px;
    text-align:left;
    padding:10px;
    font-size:12px;
    color:white;
    position:relative;
}

.activity-card-body-modifier{
    padding:10px;
}

.activity-strong-text{
    font-weight:bold;
}

.activity-strong-text a:hover{
    text-decoration: none;
}

.edit-bill-dollar-sign{
    font-size:15px;
    color:black;
}

.mark{
    position:absolute;
    right:5px;
    top:50%;
    transform:translateY(-50%);
    background-color: transparent;
}

.activity-card-header-modifier span{
    background-color: none;
}

.nav-bar-modifier{
    display:flex;
    position:relative;
    justify-content: flex-end;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    font-size:31px;
}

.login-page-container{
    display:flex;
    width:100%;

    margin:-0 auto;



}

.login-container-modifier{
    top:0;
    width:350px;
    height:330px;
    border:none;
    box-shadow: none;
    margin-top:150px;
}
#blitt-name{
    font-family: 'Pacifico', cursive;
}

.bd-example{
    width:70%;

    height:690px;
}

.bd-example img{
    width:1000px;
    object-fit: fill;
}

.qr-image{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:-130px;
    border: 1px solid black;
    padding: 10px;
}

.carousel-image-modifier{
    filter:brightness(50%);
    height:700px;
}




.carousel-inner-modifier{
    height:100%;
}

.carousel-item-modifier{
    height:100%;
    position:relative;

}

.carousel-slide-modifier{
    height:100% !important;
}

.image-1{
    background: url("https://u.realgeeks.media/nwmoderngroup/commercial.jpg");
    background-size:cover;


}

.image-2{
    background: url("https://d2z1w4aiblvrwu.cloudfront.net/ad/dgkK/jim-beam-black-friends-large-6.jpg");
    background-size:cover;
}

.image-3{
    background: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size:cover;
}

.image-1-welcome{
    color:white;
    position:absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    font-size:60px;
    text-align: center;
    width:100%;
}

.image-1-welcome span{
    display:block;
    font-size:120px;
}

.item-1 p{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:35%;
    color:white;
    font-size:30px;
    text-align:center;
    width:100%;
}

.activity-alert{
    width:500px;
    margin:0 auto;
}

.profile-pic-form{
    width:400px;
}

.user-page-edit-container{
    display:flex;
    justify-content: space-between;
}

.edit-profile-container{
    top:0;
    box-shadow: none;
    border: none;
}



@media(max-width:768px){
    .login-page-container{
        flex-direction: column;
    }
    .bd-example{
        width:100%;
        height:56px;

    }

    .image-1{
        background: none;
        background-color: #56cc9d;
        filter:brightness(100%);

    }

    .item-1 p{
        visibility: hidden;
    }

    #blitt-name{
        font-size:30px;
    }

    .login-container-modifier{
        margin-top:0;
    }
    .carousel-slide-modifier{
        width:100%;
    }

    .main-container{
        width:375px;
    }
    .profile-card-modifier{
        width:120px !important;
        height:80px;
        font-size:12px;
    }

    .profile-card-modifier p{
        font-size:20px;
    }

    .profile-card-modifier .card-header{
        padding:5px;
    }

    .profile-card-modifier .card-body{
        padding:5px;
    }

    .card-slot{
        min-width:375px;
    }

    .total-card{
        width:100%;
    }

    .group-card{
        width:100%;
    }

    .activity-card-modifier{
        width:100%;
    }

    .group-card-img img{
        width:42px;
        height:42px;
    }

    .navbar-brand{
        font-size:30px;
    }

    .user-banner{
        font-size: 20px
    }

    .member-list{
        font-size: 8px
    }

    .group-card-amount{
        font-size: 11px
    }

    .group-card-amount-only{
        font-size:20px;
    }

    .group-card-main .group-name {
        font-size: 22px;
    }

    .total-card-word {

        font-size: 22px;
    }

    .total-card-details{
        margin-left:5px;
    }

    .total-card-img img {
        width: 60px;
        height: 60px;
    }

    .group-head{
        width:100%;
    }

    .group-head-img img {
        width: 60px;
        height: 60px;
    }

    .group-head-name {
        font-size: 24px;
    }

    .group-head-amount {
        font-size: 16px;
    }

    .bill-card{
        width:100%;
        height:100px;
    }

    .bill-card-img {
        width: 22%;
    }

    .bill-card-img img {
        width: 40px;
    }

    .amount-to-pay span {
        font-size: 20px;
    }

    .amount-to-pay{
        font-size: 10px;
    }

    .time-of-bill {

        font-size: 10px;
    }

    .bill-card-description {
        font-size: 20px;
    }

    .payer{
        font-size:14px;
    }

    .settle-bill-heading{
        font-size: 1.1rem;
    }

    .settle-bill-container{
        width:100%;
    }

    .qr-image {
    position: relative;
        top: 0%;
        transform: translateY(0);
        right: 0px;
        border: 1px solid black;
        padding: 5px;
        width:70px;
        height:70px;
    }

    .testing{
        position:relative;
        display:flex;
        flex-direction: column;
        align-items: center;

    }

    .settle-bill-detail{
        margin-left: 0;
    }

    .bill-head{
        width:100%;
    }

    .bill-head-description {
        font-size: 23px;
    }

    .bill-head-amount {

        font-size: 23px;
    }

    .single-friend-container{
        width:100%;
    }

    .single-friend-card{
        width:100%;
    }

    .single-friend-group-container{
        width:100%;
    }

    .single-friend-card-img img {
        width: 60px;
        height: 60px;
    }

    .single-friend-card-main {
        margin-left: 0;
        font-size: 23px;
    }

    .single-friend-card-amount {
        font-size: 10px;
    }

    .single-user-button {
        margin-left: 8px;
    }

    .single-friend-group-img img {
        width: 40px;
        height: 40px;
    }

    .single-friend-group-img {
        margin-left: 10px;
    }

    .single-friend-group-name {
        color: black;
        font-size: 17px;
    }

    .single-friend-group-amount {
        font-size: 12px;
    }

    .profile-pic-form{
        width:100%;
    }

    .edit-profile-container{
        width:100%;
    }

    .settle-bill-detail-net {
        font-size: 15px;
    }
}